# Ignorar carpeta target donde Maven pone los .class y .jar generados
#/target/
#target/

# Ignorar archivos jar generados
#*.jar

# Ignorar logs
*.log

# Ignorar archivos temporales de sistema operativo
.DS_Store
Thumbs.db

HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans
/nbproject/pmvate/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
#VS Code
.vscode/
